* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px; 
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  /* background: url(https://images.unsplash.com/photo-1489549132488-d00b7eee80f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60) no-repeat center fixed; */
  /* background: url(https://images.unsplash.com/photo-1534970028765-38ce47ef7d8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80) no-repeat center fixed; */
  /* background: url(https://images.unsplash.com/photo-1531951665218-b8b598959072?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80)no-repeat center fixed; */
  background: url(https://images.unsplash.com/photo-1494981314336-e559e6fad2cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)no-repeat center fixed;
  /* background-image: url(https://images.unsplash.com/photo-1513366208864-87536b8bd7b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60); */
  background-size: cover;
  color: white;
}
section{
 padding: 6rem 0;
 padding-top: 0rem;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  /* width: 100%; */
  /* border-radius: 21px; */
  /* border-style: double; */
  /* border-style: inset; */
  border-radius: 10px;
  width: 100%;
  box-shadow: inset 0px 0px 8px white;
}

header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  /* background-color: black; */
  background-color: transparent;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-left:  2rem;
  margin-right: 2rem;
}

.nav-link {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  padding: 3rem;

}

.nav-link:hover ,
.nav-link:focus {

  /* background: linear-gradient(to top, #ffe838, #fd57ef); */
  background: linear-gradient(to top, #fd57ef, #20bdff, #fd57ef, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  
}

.top-nav.open {
  top: 0;
  border-radius: initial;

}
/* RESTING PALCES */
.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);


}
.menu-toggler.close {
  transform: rotate(-45deg);


}

.bar {
  /* background: linear-gradient(to right, #0bdb2e, white, #fd57ef); */
  background: linear-gradient(to top, #4776e6 , #8e54e9, #a5fecb, #20bdff);
  width: 100%;
  height: 4px;
  border-radius: .8rem;

}

.bar.half {
  width: 50%;
}

.bar-start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start {
  transform: rotate(-450deg) translateX(.8rem);

}

.bar-end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);

}

.open .bar.end {
  transform: rotate(-450deg) translateX(-.8rem);

}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1{
  /* background-image: url(./Assets/IMG/code-pic2.jpg); */
  /* text-shadow: -1px 0 black, 0 4px black, 4px 0 black, 0 -1px black; */
  /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */

  font-size: 10rem;
   /* font-family: 'Pacifico', cursive; */
   font-family: 'Alfa Slab One', cursive;
   /* background: linear-gradient(to top, yellow, white, yellow); */
   background: linear-gradient(to top, #4776e6 , #8e54e9, #a5fecb, #20bdff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  padding: 4rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1{
  font-size: 10rem;
  opacity: .3;

}

.about-heading h6{
  font-size: 2rem;
  font-weight: 300;
}

.profile-img{
  flex: .5;
  margin-right: 5rem;
}

.about-details {
  flex:1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;

}

.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));  
  grid-gap: 2.5rem;
  text-align: center;
}

.skill{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

}

.skill h1{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 2rem;
  margin-right: -2px;
  margin-bottom: 2rem;
  margin-left: 0;

}
.img-icon {
  border-radius: 100%;
  /* border: solid black; */
  background: transparent;
}

.icon-container{
  background: url(./Assets/IMG/coding.jpg);

  width: 10rem;
  height: 10rem;
  border: 3px solid white;
  /* background-color: bisque; */
  margin-bottom: 2rem;
  display: flex;
  transform: rotate(45deg);
  /* box-shadow: 0px 0px 2px white; */
}

.icon-container i{
  color: black;
  font-size: 5rem;
  margin: auto;
  transform: rotate(-45deg);
}


.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;

}

.portfolio-item:last-child{
  margin-bottom: 0;

}

.portfolio-img{
  flex: 1;
  width: 50rem;

}

/* .portfolio-description {
  flex: 1;
} */

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.portfolio-description h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-weight: 300;
  /* opacity: 0.3; */
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: aqua;
  transition: color 650ms;
  /* font-weight: 300; */
  /* opacity: 0.3; */

}

.portfolio-description .cta:hover {
  text-decoration: none;
  color: white;
}

/* TimeLine Section */

.timeline ul{
  border-left: 4px solid yellow;
  border-radius: .8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  /* list-style: none; */
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  /* opacity: 0.3 ; */
  opacity: 0.7;
    text-decoration: underline;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .date:before,
.timeline .date:after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before{
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width:12rem ;
  font-size: 1.5rem;

}

.timeline .data::after {
  content: '';
  box-shadow: 0 0 0 4px #fd57ef;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}

/* Content Form */

.contact {
  background-color: transparent;
}
form {
  width: 70%;
  margin: 0 auto;

}
form label{
  font-size: 1.5rem;

}

input,
select,
textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 5px;
  border: none;
  outline-color: pink;
}

input[type="submit"]{
  /* width: initial; */
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: .8rem;
  cursor: pointer;
  transition: background-color 650ms;


}

input[type="submit"]:hover{
  color: #222222;
  font-weight: 700px;
  /* background-color: white; */
  background: linear-gradient(to top, #fd57ef, #20bdff, #fd57ef);

}

.copyright {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem 0;
  position: relative;
}
.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  /* display: flex; */
  animation: pulse 2s infinite;
  padding-top: 17px;

}

.up i {
  color: #fd57ef;
  font-size: 2rem;
  margin: auto;

}

.copyright p{
  font-size: 1.4rem;
}

@keyframes pulse {
  0%{
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.3)
  }
  70%{
    box-shadow: 0 0 0 2rem rgba(245, 26, 26, 0.3);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(255, 29, 236, 0.3);
  }

}













/* REusable */
.container{
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;

}
.section-heading h1{
  font-size: 3.5rem;
  color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;

}

.section-heading h1::before,
.section-heading h1::after{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before{
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h1::after{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}




.section-heading h6{
  font-size: 1.6rem;
  font-weight: 300;
}

#profile-img {
  box-shadow: 0px 0px 6px white;
  /* border: 5px double antiquewhite; */
  border-radius: 8px;
  width: 259px;
  /* border: 5px solid black; */
  border-style: solid black 2px;
  /* border-image: url(border.png) 30 round; */

}

.margin-right {
  margin-right: 5rem;
}



/* .profile-image {
  border: double black;

} */

#top-button {
  color: black;
  text-align: center;

}

.materialboxed:hover {
  box-shadow: 0px 0px 30px white;
}